#santa_clara_la_laguna{
    fill: #fc59e3;
}

#santa_clara_la_laguna:hover{
    fill: #c747b4;
}
#santa_maria_ixtahuacan{
    fill: #fbc370;
}

#santa_maria_ixtahuacan:hover{
    fill: #bb9255;
}
#solola{
    fill: #5cd5f7;
}

#solola:hover{
    fill: #4292a8;
}
#san_pedro_la_laguna{
    fill: #f2b96b;
}

#san_pedro_la_laguna:hover{
    fill: #b38950;
}
#san_juan_la_laguna{
    fill: #58c7e6;
}

#san_juan_la_laguna:hover{
    fill: #3d8194;
}
#panajachel{
    fill: #f877e3;
}

#panajachel:hover{
    fill: #964e8a;
}
#concepcion{
    fill: #fd7c81;
}

#concepcion:hover{
    fill: #b96063;
}
#santiago_atitlan{
    fill: #f1fc00;
}

#santiago_atitlan:hover{
    fill: #979e0a;
}
#nahuala{
    fill: #dde720;
}

#nahuala:hover{
    fill: #a7ad36;
}
#santa_cruz_la_laguna{
    fill: #cd8081;
}

#santa_cruz_la_laguna:hover{
    fill: #965f60;
}
#san_andres_semetabaj{
    fill: #4d84f3;
}

#san_andres_semetabaj:hover{
    fill: #002368;
}
#san_perdo_la_laguna{
    fill: #68e9ad;
}

#san_perdo_la_laguna:hover{
    fill: #357c5b;
}
#santa_catarina_palopo{
    fill: #5ba99e;
}

#santa_catarina_palopo:hover{
    fill: #468078;
}
#santa_maria_visitacion{
    fill: #5078d7;
}

#santa_maria_visitacion:hover{
    fill: #355294;
}
#san_antonio_palopo{
    fill: #fd740c;
}

#san_antonio_palopo:hover{
    fill: #b6570e;
}
#santa_lucia_utatlan{
    fill: #fd740c;
}

#santa_lucia_utatlan:hover{
    fill: #b65912;
}
#san_jose_chacaya{
    fill: #00da71;
}

#san_jose_chacaya:hover{
    fill: #067941;
}
#san_lucas_toliman{
    fill: #00d56d;
}

#san_lucas_toliman:hover{
    fill: #06924e;
}
#san_marcos_la_laguna{
    fill: #00d56d;
}

#san_marcos_la_laguna:hover{
    fill: #068346;
}
