#rio_hondo{
    fill: #fd58ef;
}

#rio_hondo:hover{
    fill: #a03797;
}
#teculutan{
    fill: #fdc171;
}

#teculutan:hover{
    fill: #a57c47;
}
#huite{
    fill: #5bd5f7;
}

#huite:hover{
    fill: #357b8f;
}
#gualan{
    fill: #66f1b4;
}

#gualan:hover{
    fill: #41a57a;
}
#zacapa{
    fill: #fd8285;
}

#zacapa:hover{
    fill: #af5c5e;
}
#la_union{
    fill: #f1fc00;
}

#la_union:hover{
    fill: #969e05;
}
#usumatlan{
    fill: #f1fc00;
}

#usumatlan:hover{
    fill: #8b9208;
}
#san_jorge{
    fill: #fdc300;
}

#san_jorge:hover{
    fill: #af8809;
}
#estanzuela{
    fill: #4b84f0;
}

#estanzuela:hover{
    fill: #4b84f0;
}
#san_diego{
    fill: #fd7405;
}

#san_diego:hover{
    fill: #642e02;
}
#san_diego{
    fill: #fd7405;
}

#san_diego:hover{
    fill: #b15a13;
}
#cabanias{
    fill: #00e275;
}

#cabanias:hover{
    fill: #0a6338;
}

