#san_bartolo{
    fill: #fdef85;
}

#san_bartolo:hover{
    fill: #a39a52;
}
#san_cristobal_totonicapan{
    fill: #d1b4e2;
}

#san_cristobal_totonicapan:hover{
    fill: #9780a5;
}
#san_andres_xecul{
    fill: #e9caa6;
}

#san_andres_xecul:hover{
    fill: #917c65;
}
#santa_maria_chiquimula{
    fill: #fdcd86;
}

#santa_maria_chiquimula:hover{
    fill: #af8e5c;
}
#momostenango{
    fill: #ee7ed6;
}

#momostenango:hover{
    fill: #99528a;
}
#san_francisco_el_alto{
    fill: #fda498;
}

#san_francisco_el_alto:hover{
    fill: #a86c64;
}
#totonicapan{
    fill: #8aeb5e;
}

#totonicapan:hover{
    fill: #67ac47;
}
#santa_lucia_la_reforma{
    fill: #26c0b5;
}

#santa_lucia_la_reforma:hover{
    fill: #218d86;
}

