#el_asintal{
    fill: #f9d4ae;
}
#el_asintal:hover{
    fill: #8f7b66;
}
#santa_cruz_mulua{
    fill: #f9ee89;
}
#santa_cruz_mulua:hover{
    fill: #b6ae65;
}
#retalhuleu{
    fill: #caabeb;
}
#retalhuleu:hover{
    fill: #126196;
}
#san_sebastian{
    fill: #a76dd6;
}

#san_sebastian:hover{
    fill: #c5aed8;
}
#san_martin_zapotitlan{
    fill: #88ff00;
}

#san_martin_zapotitlan:hover{
    fill: #569719;
}
#san_andres_villa_seca{
    fill: #0000da;
}

#san_andres_villa_seca:hover{
    fill: #3d2b81;
}
#champerico{
    fill: #0a6917
}
#champerico:hover{
    fill: #58a762
}
#san_felipe{
    fill: #eeff00;
}

#san_felipe:hover{
    fill: #767e10;
}
#nuevo_san_carlos{
    fill: rgb(165, 223, 172);
}

#nuevo_san_carlos:hover{
    fill: rgb(104, 155, 106);
}
