#chicaman{
    fill: #fd58f0;
}

#chicaman:hover{
    fill: rgb(129, 72, 129);
}
#chiche{
    fill: #fd5aee;
}

#chiche:hover{
    fill: #d14dc4;
}
#nebaj{
    fill: #fbc370;
}

#nebaj:hover{
    fill: rgb(218, 184, 93);
}
#uspantan{
    fill: #5cd5f8;
}

#uspantan:hover{
    fill: #409cb6;
}
#chinique{
    fill: #02642b;
}

#chinique:hover{
    fill: #02ad4a;
}
#santa_cruz_del_quiche{
    fill: #61f2b3;
}

#santa_cruz_del_quiche:hover{
    fill: #4dbd8c;
}
#san_andres_sajcabaja{
    fill: #fd8485;
}

#san_andres_sajcabaja:hover{
    fill: #d86e6e;
}

#san_juan_cotzal{
    fill: #58f3b2;
}

#san_juan_cotzal:hover{
    fill: #46c791;
}
#san_bartolome_jocotenango{
    fill: rgb(156, 250, 33);
}

#san_bartolome_jocotenango:hover{
    fill: rgb(84, 158, 14);
}
#pachalum{
    fill: rgb(116, 76, 3);
}

#pachalum:hover{
    fill: rgb(75, 59, 17);
}
#sacapulas{
    fill: #9e4dfd;
}

#sacapulas:hover{
    fill: #7d3fc5;
}
#cunen{
    fill: #4c82f3;
}

#cunen:hover{
    fill: #30529c;
}
#san_antonio_ilotenango{
    fill: #30529c;
}

#san_antonio_ilotenango:hover{
    fill: #162647;
}
#ixcan{
    fill: #a100fd;
}

#ixcan:hover{
    fill: #6904a3;
}
#chajul{
    fill: #fd740c;
}

#chajul:hover{
    fill: #cc5f0c;
}
#santo_tomas_chichicastenago{
    fill: #00e275;
}

#santo_tomas_chichicastenago:hover{
    fill: #133b28;
}
#patzite{
    fill: #b19c91;
}

#patzite:hover{
    fill: #79655b;
}
#san_pedro_jocopilas{
    fill: #fd721a;
}

#san_pedro_jocopilas:hover{
    fill: #c95a16;
}
#santa_cruz_del_quiche{
    fill: #019870;
}

#santa_cruz_del_quiche:hover{
    fill: #015740;
}
#zacualpa{
    fill: #fc0000;
}

#zacualpa:hover{
    fill: #ad0707;
}
#joyabaj{
    fill: #3f07af;
}

#joyabaj:hover{
    fill: #1b0050;
}
#canilla{
    fill: #b42704;
}

#canilla:hover{
    fill: #491002;
}


