#san_rafael_las_flores{
    fill: #fdd7b4;
}

#san_rafael_las_flores:hover{
    fill: #c0a389;
}
#santa_maria_ixhuatan{
    fill: #faed84;
}

#santa_maria_ixhuatan:hover{
    fill: #b6ac64;
}
#taxisco{
    fill: #d0b2d7;
}

#taxisco:hover{
    fill: #99839e;
}
#pueblo_nuevo_vinias{
    fill: #f6c785;
}

#pueblo_nuevo_vinias:hover{
    fill: #b89565;
}
#santa_rosa_de_lima{
    fill: #ef7ed5;
}

#santa_rosa_de_lima:hover{
    fill: #ad5e9b;
}
#oratoria{
    fill: #fdaa96;
}

#oratoria:hover{
    fill: #ca8777;
}
#santa_cruz_naranjo{
    fill: #fda09a;
}

#santa_cruz_naranjo:hover{
    fill: #b9726d;
}
#nueva_santa_rosa{
    fill: #e3a8a9;
}

#nueva_santa_rosa:hover{
    fill: #9c7576;
}
#san_juan_tecuaco{
    fill: #f19aaa;
}

#san_juan_tecuaco:hover{
    fill: #a06671;
}
#guazacapan{
    fill: #fd80b1;
}

#guazacapan:hover{
    fill: #ac5b7b;
}
#culiapa{
    fill: #9984cf;
}

#culiapa:hover{
    fill: #625780;
}
#chiquimulilla{
    fill: #8dea5e;
}

#chiquimulilla:hover{
    fill: #64a543;
}
#barbarena{
    fill: #00ffa6;
}

#barbarena:hover{
    fill: #0b7a54;
}
#casillas{
    fill: #01d68a;
}

#casillas:hover{
    fill: #069663;
}

