#san_miguel_ixtahuacan{
    fill: #d2b3e2;
}
#san_miguel_ixtahuacan:hover{
    fill: #886997;
}
#el_tumbador{
    fill: #f7e285;
}
#el_tumbador:hover{
    fill: #8f824b;
}
#tajumulco{
    fill: #eccaa6;
}
#tajumulco:hover{
    fill: #ac8f71;
}
#san_pedro_sacatepequez{
    fill: #ceb1dc;
}
#san_pedro_sacatepequez:hover{
    fill: #9c85a8;
}
#esquipulas_palo_gordo{
    fill: #f5b6ae;
}
#esquipulas_palo_gordo:hove r{
    fill: #a36961;
}    
#tejutla{
    fill: #f8d487;
}

#tejutla:hover{
    fill: #968155;
}
#san_antonio_sacatepequez{
    fill: #e0d995;
}

#san_antonio_sacatepequez:hover{
    fill: #9b9668;
}
#pajapita{
    fill: #fdc68b;
}
#pajapita:hover{
    fill: #9c7e5e;
}
#sipacapa{
    fill: #ff0606;
}

#sipacapa:hover{
    fill: #8b0c0c;
}
#san_marcos{
    fill: #da94cf;
}

#san_marcos:hover{
    fill: #975f8f;
}
#comitancillo{
    fill: #fda498;
}

#comitancillo:hover{
    fill: #b4756d;
}
#malacatan{
    fill: blue;
}

#malacatan:hover{
    fill: violet;
}
#ayutla{
    fill: #cbb4b4;
}

#ayutla:hover{
    fill: #705959;
}
#nuevo_progreso{
    fill: #fd80b0;
}

#nuevo_progreso:hover{
    fill: #944c68;
}
#el_rodeo{
    fill: #d69bb5;
}

#el_rodeo:hover{
    fill: #9e7386;
}
#san_lorenzo{
    fill: #e688a3;
}

#san_lorenzo:hover{
    fill: #b1697d;
}
#ixchiguan{
    fill: #df5d00;
}

#ixchiguan:hover{
    fill: #b68a6b;
}
#concepcion_tutuapa{
    fill: #ff4b8a;
}

#concepcion_tutuapa:hover{
    fill: #af2555;
}
#la_reforma{
    fill: #a4fa7c;
}

#la_reforma:hover{
    fill: #47a031;
}
#san_pablo{
    fill: #a287e7;
}

#san_pablo:hover{
    fill: #7f6eaa;
}
#san_cristobal_cucho{
    fill: #87a9b2;
}

#san_cristobal_cucho:hover{
    fill: #546e75;
}
#san_rafael_pie_de_la_cuesta{
    fill: #98d474;
}

#san_rafael_pie_de_la_cuesta:hover{
    fill: #5d8347;
}
#el_quetzal{
    fill: #9183c3;
}

#el_quetzal:hover{
    fill: #635a86;
}
#tacana{
    fill: #8cea5e;
}

#tacana:hover{
    fill: #62a341;
}
#san_jose_ojetenam{
    fill: #8e82c2;
}

#san_jose_ojetenam:hover{
    fill: #574f79;
}
#catarina{
    fill: #38c6c0;
}

#catarina:hover{
    fill: #288a85;
}
#sibinal{
    fill: #18e2d5;
}

#sibinal:hover{
    fill: #288b85;
}
#rio_blanco{
    fill: #7e9b72;
}

#rio_blanco:hover{
    fill: #546b4b;
}

