#san_francisco_zapotitlan{
    fill: #fdf08a;
}

#san_francisco_zapotitlan:hover{
    fill: #999152;
}
#patul{
    fill: #fdf085;
}

#patul:hover{
    fill: #beb666;
}
#san_jose_el_idolo{
    fill: #faed84;
}

#san_jose_el_idolo:hover{
    fill: #a39a52;
}
#mazatenango{
    fill: #ceb5dc;
}

#mazatenango:hover{
    fill: #9d89a8;
}
#santiago_domingo_suhitepequez{
    fill: #ef7fd5;
}

#santiago_domingo_suhitepequez:hover{
    fill: #9e548d;
}
#zunitol{
    fill: #f092db;
}

#zunitol:hover{
    fill: #7e4170;
}
#san_lorenzo{
    fill: #fdcc85;
}

#san_lorenzo:hover{
    fill: #be9c68;
}
#san_pablo_jocopilas{
    fill: #e596d1;
}

#san_pablo_jocopilas:hover{
    fill: #9e628f;
}
#chicaco{
    fill: #e8c59e;
}

#chicaco:hover{
    fill: #a1896e;
}
#san_bernardino{
    fill: #d5cda7;
}

#san_bernardino:hover{
    fill: #9c9679;
}
#rio_bravo{
    fill: #fda398;
}

#rio_bravo:hover{
    fill: #ad6e65;
}
#santo_tomas_la_union{
    fill: #cbaeb2;
}

#santo_tomas_la_union:hover{
    fill: #9e878a;
}
#san_juan_bautista{
    fill: #d681bc;
}

#san_juan_bautista:hover{
    fill: #91547e;
}
#san_gabriel{
    fill: #6a6aee;
}

#san_gabriel:hover{
    fill: #376788;
}
#pueblo_nuevo{
    fill: #df9c8c;
}

#pueblo_nuevo:hover{
    fill: #8f6156;
}
#samayac{
    fill: #8dea5e;
}

#samayac:hover{
    fill: #63a840;
}
#cuyotenango{
    fill: #6ca550;
}

#cuyotenango:hover{
    fill: #87997e;
}
#san_miguel_panan{
    fill: #8dd66e;
}

#san_miguel_panan:hover{
    fill: #5f914a;
}
#santa_barbara{
    fill: #30c8c2;
}

#santa_barbara:hover{
    fill: #238d89;
}
#san_antonio_suchitepequez{
    fill: #00da8d;
}

#san_antonio_suchitepequez:hover{
    fill: #088b5d;
}

