#san_miguel_duenias{
    fill: #fde794
}
#san_miguel_duenias:hover{
   fill: #b8a76a 
}
#santa_catarina_barahona{
    fill: #91d3f3
}
#santa_catarina_barahona:hover{
    fill: #6294ad;
}
#antigua_guatemala{
    fill: #f259ea;
}
#antigua_guatemala:hover{
    fill: #a742a1;
}
#san_antnonio_aguas_calientes{
    fill: #dfc377;
}
#san_antnonio_aguas_calientes:hover{
    fill: #97834c;
}
#santiago_sacatepequez{
    fill: #7ae697;
}
#santiago_sacatepequez:hover{
    fill: #549c67;
}
#pastores{
    fill: #e98282;
}
#pastores:hover{
    fill: #7a4040;
}
#san_lucas_sacatepequez{
    fill: #00ff44
}
#san_lucas_sacatepequez:hover{
    fill: #1ea143;
}
#magdalena_milpas_altas{
    fill: #5f82ee;
}
#magdalena_milpas_altas:hover{
    fill: #3d5497;
}
#santa_lucia_milpas_altas{
    fill: #54d372;
}
#santa_lucia_milpas_altas:hover{
    fill: #286135;
}
#san_bartolome_milpas_altas{
    fill: #e4721f;
}
#san_bartolome_milpas_altas:hover{
    fill: #944a16;
}
#sumpango{
    fill: #014bf5;   
}
#sumpango:hover{
    fill: #062d8a;   
}
#santo_domingo_xenacoj{
    fill: #87347c; 
}
#santo_domingo_xenacoj:hover{
    fill: #63255b;
}
#ciudad_vieja{
    fill: #6612bc;
}
#ciudad_vieja:hover{
    fill: #330f57;
}
#jocotenango{
    fill: #fd0202;
}
#jocotenango:hover{
    fill: #8a0707;
}
#santa_maria_de_jesus{
    fill: #00fd00;
}
#santa_maria_de_jesus:hover{
    fill: #076107;
}
#alotenango{
    fill: #000d90;
}
#alotenango:hover{
    fill: #0b1158;
}